<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A tool that makes it easy for producers to e-sample off of youtube." />

  <!-- Twitter Card data -->
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="Youtube Sampler">
  <meta name="twitter:description" content="A simple website that allows you to easily e-sample off youtube">
  <meta name="twitter:creator" content="@jahoshuma">

  <!-- Open Graph data -->
  <meta property="og:title" content="Youtube Sampler" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://ytsampler.com/" />
  <meta property="og:description" content="A simple website that allows you to easily e-sample off youtube" />
  <meta property="og:site_name" content="ytsampler" />

  <link rel="icon" href="/favicon.ico?v=5">

  <title>Youtube Sampler</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.css" />
   <link rel="stylesheet" type="text/css" href="/stylesheets/360player.css" /> 
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-85778935-3', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body class="site">
  <div class="site-content">
    <div class="container u-max-full-width">
      <div class="row">
        <div class="twelve columns">
          <div class="header u-pull-left">
            <h1 id="title">YouTube Sampler</h1>
            <img height="64" width="64" src="/ytLogo.gif" />
            <br />
            <span class="lead">e-digg youtube videos</span>
          </div>
              <div class="total-samples u-pull-right">
                SAMPLES DUG:
                <%= total %>
              </div>
        </div>
      </div>
    </div>

    <div class="form container u-max-full-width">
      <div class="row">
        <div class="twelve columns">
          <div class="u-pull-right">
            </div>
          
        </div>
      </div>
    </div>

    <div id="yt_form" class="container u-max-full-width">
      <form id="e-dig-form">
        <div class="row">
          <div class="twelve colums form-section">
            <label class="form-labels" for="youtube-link-input">Youtube Link:</label>
            <input type="text" class="form-control" id="youtube-link-input" placeholder="e.g https://www.youtube.com/watch?v=cv1B0ejhFVE">
          </div>
        </div>

        <div class="row">
          <div class="start-end-form-inputs">
            <div class="six columns form-section">
              <label class="form-labels" for="video-begin-input">Start</label>
              <input class="u-full-width" id="video-begin-input" type="text"  placeholder="Sample start time in MM:SS e.g 1:30" maxlength="4">
            </div>

            <div class="six columns form-section">
              <label class="form-labels" for="exampleInputPassword1">End</label>
              <input class="u-full-width" id="video-end-input" type="text" placeholder="Sample end time in MM:SS e.g 3:56, blank defaults to end" maxlength="4">
            </div>
          </div>
        </div>

        <div class="row">
          <input type="checkbox" class="tooltip" id="full-song-input" title="when this is checked, the full song will be downloaded">
          <span class="label-body tooltip">Download full song</span>
          <div id="submit-button" class="form-section">
            <div id="loading"></div>
            <button type="submit" id="submit" class="button tooltip" title="request sample">Submit</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="form-section final-buttons">
          <button id="download-button" class="button button-primary tooltip final-buttons" title="download sample!">Download</button>
          <button id="next-button" class="final-buttons">Start Over</button>
        </div>
      </div>
    </div>
  </div>


   <div class="row"> 
    <div id="recently-sampled-title" class="">
      <span >
        <h3>Recently sampled</h3>
      </span>
      <ul class="flex-container center">
      <% samples.forEach((sample, i ) => { %>
          <li class="sample-card">
            <div class="sample-stats">
              <span class="sample-number">#<%= i+1 %></span>
              <span class="sample-date"><%= sample.created_at%></span>
            </div>
             <!-- <div class="u-cf"></div>  -->
            <div class="sample-title">
            <a href="<%= sample.src %>" class="sample-link" target="_blank"><%= sample.title.substring(0, 25) %></a>
            </div>
            <div class="sample-image">
              <img  src="<%= sample.thumbnail %>" /> 
            </div>
            <!-- <a href="<%= sample.src %>"></a> -->
            <div class="sample-player ui360">
              <a href="play?sample=<%= sample.sample_src %>"></a>
            </div> 
          </li>
      <% }) %>
        </ul>
    </div> 
  </div>  




  <div class="footer">
    <a href="https://twitter.com/jahoshuma" target="_blank" class="twitter-link">by @jahoshuma</a>
  </div>


  <!--Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
   <script type="text/javascript" src="scripts/berniecode-animator.js"></script> 
  <script src="/lib/soundmanager2.js"></script>
  <script src="scripts/360player.js"></script>
  <script src="/index.js"></script>

</body>
</html>


<!-- 
    <div class="row">
      <div id="recent-sample" class=" debug twelve columns">
        <! <h6><span id="samples-title">Recently Sampled</span></h6> -->
        <!-- <ul>
          <% samples.forEach(sample => { %>
            <li>
              <div>
                <span id="recent-samples-title"><%= sample.title %></span>
                <img class="recent-samples" src="<%= sample.thumbnail %>" />
                <br />
                <a href="<%= sample.src %>">
              </a>
                <hr />
                <div class="ui360">
                  <a href="play?sample=<%= sample.sample_src %>"></a>
                </div>
              </div>
            </li>
            <% }) %>
        </ul>
      </div> -->
    <!-- </div> --> 

<!-- 
        <div id="recent-samples">
          <ul id="sample-list">
            <% samples.forEach(sample => { %>
              <li>
                <div class="sample">
                  <div>
                    <img class="recent-sample-img" src="<%= sample.thumbnail %>" />
                  </div>
                  <div>
                    <div class="ui360">
                      <a href="play?sample=<%= sample.sample_src %>"></a>
                    </div>
                    <div>
                      <! <! <%= sample.title %> -->
                    <!-- </div> -->
              <!-- </li> -->
              <!-- <% }) %> -->
          <!-- </ul> -->

          <!-- </div> --> 

